AUTH_ENABLED = YES
AUTH_SIGN_IN_WITH_APPLE_ENABLED = YES
AUTH_GOOGLE_SIGN_IN_ENABLED = NO
AUTH_ADMIN_MENU_ENABLED = YES
AUTH_TEST_ENTRY_ENABLED = YES
AUTH_MANUAL_APPLE_SIGN_IN_ENABLED = YES
APP_SAFE_MODE = NO
AUTH_ALLOW_MANUAL_TOKEN_INPUT = YES
AUTH_ADMIN_APPLE_USER_IDS = 001525.7eb00859a72e4899b51d4357c5d6acc8.0422
AUTH_ADMIN_EMAILS = dimension0122@gmail.com
AUTH_BACKEND_TIMEOUT_SECONDS = 8
AUTH_BACKEND_VERIFY_BEARER =
AUTH_BACKEND_VERIFY_BEARER_REQUIRED = NO
AUTH_BACKEND_VERIFY_ENDPOINT = https://api.mydailyphrase.app/auth/verify
AUTH_GUEST_MODE_ENABLED = YES
AUTH_GOOGLE_OAUTH_START_URL = https://api.mydailyphrase.app/oauth/google/start
AUTH_OAUTH_CALLBACK_SCHEME = mydailyphrase
AUTH_X_OAUTH_START_URL = https://api.mydailyphrase.app/oauth/x/start
LEGAL_TERMS_URL = https://github.com/catlover-bot/MyDailyPhrase/blob/main/LEGAL_TERMS.md
LEGAL_PRIVACY_POLICY_URL = https://github.com/catlover-bot/MyDailyPhrase/blob/main/LEGAL_PRIVACY_POLICY.md
SECURITY_LOG_RETENTION_DAYS_DEFAULT = 90
SECURITY_LOG_RETENTION_DAYS_MAX = 365
